<!DOCTYPE html>
<html>
<head>
  <title>TEST</title>
</head>
<body>
<p>What will it do</p>


<h3>Create Book</h3> - DONE
<ul>
  <li>Title</li>
  <li>Description</li>
  <li>Number of Pages</li>
  <li>Author</li>
  <li>Genre</li>
</ul>

<h3>Search For Books</h3>
<ul>
  <li>By any field</li>
</ul>


<h3>Select Book Being Read</h3>
<ul>
  <li>Make it active</li>
</ul>


<h3>Enter pages read</h3>
<ul>
  <li>Short recap of information</li>
  <li>Take a quiz</li>
  <li>Progress Bar of book</li>
</ul>


<h3>Finish Book</h3>
<ul>
  <li>Report of all recaps</li>
  <li>Reports of quizzes</li>
  <li>Send email of information</li>
</ul>



<form action="/create/book" method="POST">
  <input type="text" placeholder="title" name="title">
  <input type="text" placeholder="author" name="author">
  <input type="text" placeholder="genre" name="genre">
  <input type="number" placeholder="number of pages" name="numberOfPages">
  <textarea placeholder="description" name="description"></textarea>
  <button type="submit">Submit</button>
</form>



</body>
</html>